<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link href="../css/animates.css" rel="stylesheet" type="text/css">
		<style type="text/css">
			*{padding:0;margin:0;}
			body{font:16px/24px "微软雅黑";color:#666;}
			div{
				padding:20px;border-bottom:1px solid #ccc;			
				margin-bottom:10px;	
			}
			ul,ol{padding-left:20px;}
			button{padding:5px 10px;color:#666;}
			h5{font-size:20px;}
			p{margin:10px}
			h5 p{font-size:18px;font-weight:500;}
			
			
			.list-item{
				display: inline-block;
				margin-right: 10px;
			}
			.flip-list-move {
			  transition: transform 1s;
			}
		</style>
	</head>
	<body>
		
		<div id="staggered-list-demo">
		  <input v-model="query">
		  <transition-group
		    name="staggered-fade"
		    tag="ul"
		    v-bind:css="false"
		    v-on:before-enter="beforeEnter"
		    v-on:enter="enter"
		    v-on:leave="leave"
		  >
		    <li
		      v-for="(item, index) in computedList"
		      v-bind:key="item.msg"
		      v-bind:data-index="index"
		    >{{ item.msg }}</li>
		  </transition-group>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>
		<script type="text/javascript" src="../js/vue.js" ></script>
		<script type="text/javascript">
			new Vue({
			  el: '#staggered-list-demo',
			  data: {
			    query: '',
			    list: [
			      { msg: 'Bruce Lee' },
			      { msg: 'Jackie Chan' },
			      { msg: 'Chuck Norris' },
			      { msg: 'Jet Li' },
			      { msg: 'Kung Fury' }
			    ]
			  },
			  computed: { //计算
			    computedList: function () {
			      var vm = this
			      return this.list.filter(function (item) {
			        return item.msg.toLowerCase().indexOf(vm.query.toLowerCase()) !== -1;//查找输入框的值
			      })
			    }
			  },
			  methods: {
			    beforeEnter: function (el) { //进入之前的动画
			      el.style.opacity = 0
			      el.style.height = 0
			    },
			    enter: function (el, done) {
			      var delay = el.dataset.index * 150; //延时
			      setTimeout(function () {
			        Velocity(
			          el,
			          { opacity: 1, height: '1.6em' },
			          { complete: done }
			        )
			      }, delay)
			    },
			    leave: function (el, done) {
			      var delay = el.dataset.index * 150
			      setTimeout(function () {
			        Velocity(
			          el,
			          { opacity: 0, height: 0 },
			          { complete: done }
			        )
			      }, delay)
			    }
			  }
			})
			
			
		</script>
	</body>
</html>
